<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'vendor/fontawesome/css/all.min.css') }}">
    {% block extra_css %} {% endblock extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
  </head>
  <body class="{% block body_class %} {% endblock body_class %}">
    {% block content %}
    
    {% endblock content %}

    <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    {% block extra_scipts %} {% endblock extra_scipts %}
  </body>
</html>
